body, html {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --shift-background-color: rgba(234, 244, 254, 1);
    --fc-bg-event-opacity: 0.8 !important;
    --fc-border-color: #e8e9eb !important;
}

#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.fc-timeline-lane {
    border-color: transparent !important;
}
